* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.color-gray {
  color: #777;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}

span {
  color: #960221;
}

.link {
  padding: 16px;
  font-size: 30px;
  display: inline-block;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  position: relative;
}

.link::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  -webkit-transform: translate(15%, -50%);
          transform: translate(15%, -50%);
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #f5f7f7;
}

.link:hover {
  opacity: .8;
}

.link:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 80%;
}

body {
  width: 100%;
  background-color: #f5738d;
}

.border {
  border: 1px solid red;
}

.border2 {
  border: 1px solid white;
}

.menu {
  width: 100%;
  background-color: #050607;
  padding: 20px 16px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 30px;
}

.pesquisa, .menu-rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pesquisa {
  width: 40%;
}

.pesquisa input {
  height: 33px;
  border: none;
  padding: 10px;
  width: 89%;
  border-radius: 5px 0 0 5px;
}

.pesquisa button {
  height: 35px;
  border-radius: 0 5px 5px 0;
  border-left: 1px solid #050607;
  background-color: #960221;
  width: 9%;
  cursor: pointer;
}

.menu-rigth img {
  margin: 10px 0 0 30px;
}

.clear {
  clear: both;
}

.container {
  border: 1px solid #fff;
  max-width: 1200px;
  margin: 10px auto;
}

.container img {
  width: 100%;
  border-radius: 20px;
}

.sidenav {
  float: right;
  max-width: 460px;
  min-width: 450px;
  height: 900px;
  background-color: #fafcfc;
  border-radius: 20px;
}

.title {
  background-color: #D8113B;
  padding: 10px;
  text-align: center;
  color: #f5f7f7;
  border-radius: 20px 20px 0 0;
}

.offer {
  height: 220px;
  background-color: #edeff0;
  border-radius: 20px 20px 0 0;
}

.form {
  padding: 25px;
}

.form input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-color: #f5f7f7;
  padding: .8rem;
  border-radius: 5px;
  background: #f5f7f7;
}

.button input {
  color: #f5f7f7;
  background: #D8113B;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

form {
  display: -ms-grid;
  display: grid;
}

footer {
  background-color: #050607;
  color: #f5f7f7;
  height: 4rem;
  width: 100%;
  padding: 10px;
  text-align: center;
  grid-column: footer;
}

footer a {
  color: #960221;
}
/*# sourceMappingURL=style.css.map */