.border{
  border:1px solid red;
}
.border2{
  border:1px solid white;
}

//menu
.menu {
  width: 100%;
  background-color:$black-dark;
  padding: 20px 16px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-weight: 700;
  font-size:30px;
}
.pesquisa, .menu-rigth{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pesquisa{
    width:40%;
    //margin: 0 auto;
}

.pesquisa input{
  height: 33px;
  border: none;
  padding: 10px;
  width: 89%;
  border-radius: 5px 0 0 5px;
}
.pesquisa button{
  height: 35px;
  border-radius: 0 5px 5px 0;
  border-left:1px solid $black-dark;
  background-color:$red-dark;
  width: 9%;
  cursor: pointer;
}
.menu-rigth img{
  margin: 10px 0 0 30px;
}


//main
.clear{ 
  clear: both; 
}
.container{
  max-width: 1200px;
  margin: 10px auto;
  padding: 0 20px 0 20px;
  display: grid;
  grid-gap: 20px;
  justify-content:center;
  grid-template-areas: 
  "card card sidenav"
  "card card sidenav"
  "card card sidenav";
}
.container img{
  width: 100%;
  border-radius: 20px;
}
//lado esquedo
.sidenav{
  max-width: 300px;
  min-width: 250px;
  height: 100%;
  background-color: $red-light;
  border-radius: 20px;

  grid-area: "sidenav";
  grid-row: sidenav;
}

.title, .title2{
  background-color: $red-normal;
  padding: 7px;
  text-align: center;
  color: $white-normal;
  margin:0 auto;
  border-radius: 20px 20px 0 0; 
}
.title2{
  border-radius:0 ;
}
.form{
  margin:10px;
}

.offer{
  height: 250px;
  border-radius: 20px 20px 0 0;
  background-color: $white-light;
}

.form input{
  width: calc(100% - 10px);
  height: 40px;
  margin-bottom: 10px;
  border-color: $white-normal;
  padding: 10px;
  border-radius: 5px;
  background: $white-normal;
}

.button input{
  color: $white-normal;
  background: $red-normal;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}


.promo{
  background-color:$black-normal;
}
.promotion{
  width: 100%;
  border-radius: 0 0 20px 20px;
}
.promotion a{
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 0 0 20px 20px;
  padding-top:2px;
  background-color: $red-normal;
  color: $white-normal;
  width: 100%;
  height: 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: .5s ease;
  &:hover{
    opacity: .8;
  }
}

//lado direito
.card{
  max-width: 300px;
  min-width: 250px;
  height: 370px;
  background-color: $white-dark;
  border-radius: 20px;
  grid-area: "card";
}
.card img{
  max-width: 300px;
  min-width: 210px;
}

.subtitle{
  font-weight: 700;
  padding-left: 70px;
  
}
.subtitle h2{
  color: $red-dark;
}
//footer

footer{
  background-color: $black-dark;
  color: $white-normal;
  height: 4rem;
  width: 100%;
  padding: 10px;
  text-align: center;
  grid-column: footer;
}
footer a{
  color:$red-dark ;
}
//media
@media(max-width:820px){
  
  .menu-rigth{
    display: none;
  }
  .container{
   grid-template-areas: 
   "sidenav card"
   "sidenav card"
   "sidenav card"
   "sidenav card"
   "sidenav card"
   "sidenav card";
  }
}

@media(max-width:520px){
  .pesquisa{
    display: none;
  }

  .sidenav{
    height: 610px;
  }
  .container{
   grid-template-areas: 
   "sidenav"
   "card"
   "card"
   "card"
   "card"
   "card";
  }
}